﻿@model WebApplication2.Models.PersonModel


@{
    Layout = null;
}
<h2>
    Hidden Data Demo
</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Name)
        @Html.Hidden("Country", (object)ViewBag.Country)
        <input type="submit" value="Submit" />
    }
</body>
</html>