﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Made by Kanika</h1>

<table>
    <tr>
        <td>
            @Html.ActionLink("About Us Redirect", "Redirect", "Home");
        </td>
    </tr>
</table>
