﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    E Block<br />
    Sector 11<br />
    <abbr title="Phone">P:</abbr>
    1234567890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />

</address>
@{ Html.RenderPartial("_PartialPage1"); }
