﻿
    <div>
        <h4>Using ViewBag</h4> @ViewBag.Name

        @{
            ViewBag.Title = "Home Page";
        }

        <div class="jumbotron">
            <strong>ASP.NET MVC</strong>
        </div>

        <tr class="form-group">
            @using (Html.BeginForm())
            {
                <table align="center">
                    <tr>
                        <td align="center">
                            @Html.Label("StudentID:")
                            @Html.TextBox("Std_Id")
                        </td>
                    </tr>

                    <tr>
                        <td align="center">
                            @Html.Label("StudentName:")
                            @Html.TextBox("Std_Name")
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            @Html.Label("StudentAdd:")
                            @Html.TextBox("Std_Add")
                        </td>
                    </tr>

                    <tr>
                        <td align="center">
                            <input type="submit" value="Submit" class="btn-primary" />
                        </td>

                    </tr>
                    <tr>
                        <td>

                            @ViewBag.SucessMessage
                        </td>
                    </tr>

                </table>



            }

