﻿@model WebApplication2.Models.Questions

@{
    ViewBag.Title = "UserHome";
Layout = "~/Views/Layout/_webLayout.cshtml";
}

<h2>My Homepage</h2>

<span style="color: @Request.Cookies["Color"].Value.ToString(); font-size: 20px;">
    You Entered :
    <br />
    Day : <b>@Request.Cookies["Day"].Value.ToString()</b><br />
    Fruit : <b>@Request.Cookies["Fruit"].Value.ToString()</b><br />
    Email Address : <b>@Request.Cookies["EmailAddress"].Value.ToString()</b><br />
    Color : <b>@Request.Cookies["Color"].Value.ToString()</b><br />
</span>
