﻿@model WebApplication2.Models.Questions

@{
    ViewBag.Title = "View";
}

<h2>Questions</h2>

@using (Html.BeginForm())
{
    <table width="100%">
        <tr>
            <td align="center">

                <span>Your : </span>
                <table class="table-condensed">
                    <tr>
                        <td align="left">
                            Favourite Color :
                        </td>
                        <td align="right">
                            @Html.TextBoxFor(m => m.Color)
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            Favourite Day :
                        </td>
                        <td align="right">
                            @Html.TextBoxFor(m => m.Day)
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            EmailAddress :
                        </td>
                        <td align="right">
                            @Html.TextBoxFor(m => m.EmailAddress)
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            Favourite Fruit :
                        </td>
                        <td align="right">
                            @Html.TextBoxFor(m => m.Fruit)
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
    <br />
    <input value="Okay!" type="submit" />
}

