﻿@model IEnumerable<WebApplication2.Models.EmployeeEntities>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>
    @Html.ActionLink("Create New", "Create")

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AGE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ADDRESS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SALARY)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AGE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ADDRESS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SALARY)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { ID = item.ID })|
                        
                        @Html.ActionLink("Delete", "Delete", new { ID = item.ID })
                    </td>
                </tr>

            }
        </tbody>
    </table>






